/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "tailwind";

/*
 |--------------------------------------------------------------------------
 | Fonts
 |--------------------------------------------------------------------------
 |
 | Import all fonts used in the template, the font configuration can be
 | seen in "tailwind.config.js".
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/theme
 |
 */
@import "fonts/roboto";

/*
 |--------------------------------------------------------------------------
 | Breakpoints
 |--------------------------------------------------------------------------
 |
 | Provide custom breakpoints for responsive layouts.
 |
 | Default values:
 | xs: 0, sm: 640px, md: 768px, lg: 1024px, xl: 1280px, xxl: 1536px
 |
 */
@import "~@left4code/tw-starter/dist/scss/breakpoint";

/*
 |--------------------------------------------------------------------------
 | Mixins
 |--------------------------------------------------------------------------
 |
 | Import helper mixins.
 |
 */
@import "~@left4code/tw-starter/dist/scss/mixins/media";

/*
 |--------------------------------------------------------------------------
 | 3rd Party Libraries
 |--------------------------------------------------------------------------
 |
 | Import 3rd party library CSS/SASS files.
 |
 */
@import "~@left4code/tw-starter/dist/scss/accordion";
@import "~@left4code/tw-starter/dist/scss/alert";
@import "~@left4code/tw-starter/dist/scss/btn";
@import "~@left4code/tw-starter/dist/scss/dropdown";
@import "~@left4code/tw-starter/dist/scss/file";
@import "~@left4code/tw-starter/dist/scss/form-check";
@import "~@left4code/tw-starter/dist/scss/form-control";
@import "~@left4code/tw-starter/dist/scss/form-help";
@import "~@left4code/tw-starter/dist/scss/form-inline";
@import "~@left4code/tw-starter/dist/scss/form-label";
@import "~@left4code/tw-starter/dist/scss/form-select";
@import "~@left4code/tw-starter/dist/scss/image-fit";
@import "~@left4code/tw-starter/dist/scss/input-group";
@import "~@left4code/tw-starter/dist/scss/intro";
@import "~@left4code/tw-starter/dist/scss/modal";
@import "~@left4code/tw-starter/dist/scss/pagination";
@import "~@left4code/tw-starter/dist/scss/progress";
@import "~@left4code/tw-starter/dist/scss/scrollbar";
@import "~@left4code/tw-starter/dist/scss/tab";
@import "~@left4code/tw-starter/dist/scss/table";
@import "~@left4code/tw-starter/dist/scss/typing-dots";
@import "~@left4code/tw-starter/dist/scss/zoom-in";
@import "~@left4code/tw-starter/dist/scss/box";
@import "~tiny-slider/src/tiny-slider";
@import "~highlight.js/scss/github";
@import "~tippy.js/dist/tippy";
@import "~tippy.js/themes/light";
@import "~tippy.js/dist/svg-arrow";
@import "~tippy.js/animations/shift-away";
@import "~tail.select/css/default/tail.select-light";
@import "~toastify-js/src/toastify";
@import "~dropzone/dist/dropzone";
@import "~zoom-vanilla.js/dist/zoom";
@import "~tabulator-tables/dist/css/tabulator";

/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | Import CSS/SCSS components.
 |
 */
@import "components/global";
@import "components/main";
@import "components/top-bar";
@import "components/login";
@import "components/table-report";
@import "components/report-timeline";
@import "components/report-chart";
@import "components/search";
@import "components/notification";
@import "components/report-box";
@import "components/report-box-2";
@import "components/content";
@import "components/top-nav";
@import "components/side-nav";
@import "components/breadcrumb";
@import "components/toastify";
@import "components/toastify-content";
@import "components/feather-icon";
@import "components/top-bar-boxed";
@import "components/mobile-menu";
@import "components/inbox-filter";
@import "components/inbox";
@import "components/chat";
@import "components/boxed-tabs";
@import "components/chat-dropdown";
@import "components/wizard";
@import "components/blog";
@import "components/news";
@import "components/pricing-tabs";
@import "components/error-page";
@import "components/search-result";
@import "components/notification-content";
@import "components/report-maps";
@import "components/pos-dropdown";
@import "components/pos";
@import "components/post";
@import "components/litepicker";
@import "components/tiny-slider";
@import "components/tippy";
@import "components/tabulator";
@import "components/tail-select";
@import "components/dropzone";
@import "components/ckeditor";
@import "components/zoom-vanilla";
@import "components/dark-mode-switcher";
@import "components/hljs";
@import "components/source-preview";
@import "components/ads-box";
@import "components/full-calendar";
@import "components/pristine";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.text-editor-wrapper button{
    font-size: inherit;
    font-family: inherit;
    color: #4f4f4f;
    margin: .1rem;
    border: 1px solid #5e50ac;
    border-radius: .3rem;
    padding: .1rem .4rem;
    background: white;
    accent-color: #5e50ac;
}

.overx {
    overflow-y: scroll !important;
}
.grecaptcha-badge {
    opacity: 0;
    visibility: hidden;
}

.side-nav {
    z-index: 9999999999999;
}
.side-nav > ul ul {
    background-color: #271c69 !important;
}
.search .search__input {
    background-color: #504e4e3d !important;
}
.top-nav > ul li .top-menu {
    height: 40px !important;
}
.login {
    position: relative;
}
.login:before {
    background-size: auto 120% !important;
}
.top-nav > ul {
    padding-left: 10px !important;
}
.top-nav > ul li .top-menu .top-menu__title {
    margin-left: 0 !important;
    font-weight: bold;
}
.top-nav {
    border-bottom: 1px solid #5e50ac;
}
.top-nav>ul li .top-menu:not(.top-menu--active) .top-menu__icon:before {
    border: 1px solid #5e50ac;
    background-color: #5e50ac;
}
//.top-nav>ul li .top-menu__icon:before {
//
//    background-color: #5e50ac;
//}
.top-nav>ul li .top-menu__icon,.top-nav>ul li .top-menu__title {
    color: #fff !important;
}
.top-nav>ul li:hover .top-menu__icon,.top-nav>ul li:hover .top-menu__title {
    color: white !important;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background: #5e50ac;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #6B104D;
}
::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
.input-shadow {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px -5px rgba(94, 80, 172, 0.5);
    border-radius: 10px;
    height: 50px;
}

.site-main-header {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;

    color: #000000;
}

.site-small-text {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #6A6A6A;
}

.footer-header {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Nunito', sans-serif;
}

.footer-list li {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.top-buttons {
    border-radius: 50px;
}

.btn-white-bg {
    background: #FFFFFF;
    border: 1px solid #5E50AC;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #5E50AC;
    height: 50px;
}

.btn-color-bg {
    background: #5E50AC;
    border: 1px solid #5E50AC;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    height: 50px;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.max-w-10xl {
    max-width: 100rem;
}

.main-site {
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 !important;
}

.video-list {
    background: whitesmoke;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.video-list div {
    padding: 0px;
}

.video-item {
    background: #c5c4c4;
    display: inline-block;
}

#loader {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
}

#loader svg {
    fill: white;
}

.finclass {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    font-size: 15px;
}

.rejected-solution {
    opacity: 0.8;
}

.bot-i {
    pointer-events: auto !important;
}

.dropzone.dz-started .dz-message {
    display: initial !important;
}

.selected-solution {
    border: 3px solid #5e50ac;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

.test {
}
.best-offer {
    border: 3px solid #d4af37;
    border-radius: 10px;
}

.sibling:hover ~ .sibling-two {
    display: flex;
}

.sibling-two {
    display: none;
}

.numberCircle {
    font-family: "OpenSans-Semibold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 0px;
    border-radius: 50%;
    font-size: 12px;
    min-width: 38px;
    min-height: 38px;
}

.numberCircle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 1px;
    margin-right: 1px;
}

.clrGreen {
    background: #5e50ac;
}

#bottom {
    pointer-events: none !important;
}

.slider-tooltip {
    border: 1px solid #5e50ac !important;
    background: #5e50ac !important;
}

.modal.modal-slide-over .modal-dialog .modal-content {
    border-radius: 0px;
    min-height: 100vh;
    height: 90vh;
    overflow-y: scroll !important;
}

#right-panel {
    pointer-events: none;
    background: transparent !important;
}

.modal-content {
    pointer-events: auto !important;
}

#right-panel .modal {

}

.unity-button {
    pointer-events: auto;
}

.vue-avatar--wrapper {
    background-color: #5e50ac !important;
}

.active-row {
    background-color: rgba(147, 15, 104, 0.4);
}

.inactive-row {
    background-color: rgba(126, 126, 126, 0.4);
}

.form-check-input[type=radio] {
    border-color: #5e50ac !important;
}

.form-check-input[type=radio]:before {
    background-color: #5e50ac !important;
}

.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    color: #5e50ac !important;
}

.form-check-input:focus, .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-check-input[type=checkbox] {
    background-color: #5e50ac !important;
    border-color: #5e50ac !important;
}

.select-dropdown {
    z-index: 999999999 !important;
}

.btn-primary {
    background-color: #5e50ac !important;
    border-color: #5e50ac !important;
}

.po-password-strength-bar {
    display: none !important;
}

.search__input::placeholder {
    color: #fff !important;
}

.dropzone {
    width: 100%;
    height: 50px;
    min-height: 0px !important;
    padding: 10px 10px;
}

.dropzone .dz-message {
    text-align: center;
    margin: 0 !important;
}

.avatar-preview {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 30%;
}

.dz-message {
    position: relative;
    display: flex;
    flex-direction: row;
}

.multiselect {
    position: relative;
    margin: 0 auto;
    font-size: 0;
}

.multiselect > * {
    font-size: initial;
}

.multiselect.is-searchable {
    cursor: auto;
}

.multiselect-input {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    outline: none;
}

.multiselect-caret {
    position: absolute;
    right: 12px;
    top: 50%;
    color: #999;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #999 transparent transparent;
    content: "";
    transform: translateY(-50%);
    transition: .3s transform;
}

.is-disabled .multiselect-input {
    background: #f9f9f9;
}

.is-open .multiselect-input {
    border-radius: 3px 3px 0 0;
}

.is-open .multiselect-caret {
    transform: translateY(-50%) rotate(180deg);
}

.multiselect-placeholder,
.multiselect-single-label,
.multiselect-multiple-label {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 14px;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: transparent;
}

.multiselect-placeholder {
    color: #777777;
}

.is-single .multiselect-search,
.is-multiple .multiselect-search {
    display: flex;
    height: 100%;
    width: 100%;
    background: transparent;
}

.is-single .multiselect-search input,
.is-multiple .multiselect-search input {
    width: 100%;
    border: 0;
    padding: 8px 35px 8px 14px;
    outline: none;
    background: transparent;
}

.is-single.no-caret .multiselect-search input,
.is-multiple.no-caret .multiselect-search input {
    padding: 8px 14px 8px 14px;
}

.is-tags .multiselect-search {
    flex-grow: 1;
}

.is-tags .multiselect-search input {
    outline: none;
    border: 0;
    margin: 0 0 5px 3px;
    flex-grow: 1;
    min-width: 100%;
}

.multiselect-clear {
    position: absolute;
    right: 0;
    top: 1px;
    width: 36px;
    height: 36px;
    background: #fff;

    &:before, &:after {
        position: absolute;
        top: 12px;
        left: 16px;
        content: " ";
        height: 12px;
        width: 2px;
        background-color: #999;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {
        &:before, &:after {
            background-color: #555;
        }
    }
}

.multiselect-tags {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 9px;
    margin-top: 5px;
    flex-wrap: wrap;
    padding-right: 36px;
}

.no-caret .multiselect-tags {
    padding-right: 9px;
}

.multiselect-tag {
    background: #41b883;
    color: #fff;
    padding: 0 0 0 8px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: text;
    white-space: nowrap;
}

.multiselect-tag i {
    cursor: pointer;
}

.multiselect-tag i:before {
    content: "\D7";
    color: #266d4d;
    font-size: 14px;
    font-weight: 700;
    padding: 1px 5px 1px 5px;
    margin-left: 3px;
    display: flex;
    font-style: normal;
}

.multiselect-tag i:hover:before {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
}

.is-disabled .multiselect-tag {
    background: #a0a0a0;
    padding: 1px 8px 1px 8px;
}

.multiselect-fake-input {
    background: transparent;
    width: 100%;
    height: 1px;
    border: 0;
    padding: 0;
    font-size: 0;
    margin-top: -1px;
    outline: none;

    &:active, &:focus {
        outline: none;
    }
}

.multiselect-options {
    position: absolute;
    left: 0;
    right: 0px;
    border: 1px solid #e8e8e8;
    margin-top: -1px;
    max-height: 160px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    background: #ffffff;
}

.multiselect-option {
    display: flex;
    min-height: 40px;
    padding: 9px 12px;
    box-sizing: border-box;
    color: #222;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.multiselect-option.is-pointed {
    background: #e6e6e6;
}

.multiselect-option.is-disabled {
    background: #f9f9f9;
    color: #a6a6a6;
    cursor: not-allowed;
}

.multiselect-option.is-selected {
    background: #41b883;
    color: #ffffff;
}

.multiselect-option.is-selected.is-pointed {
    background: #4FBD8C;
}

.is-multiple .multiselect-option.is-selected,
.is-tags .multiselect-option.is-selected {
    color: #999999;
    background: transparent;
}

.is-multiple .multiselect-option.is-selected.is-pointed,
.is-tags .multiselect-option.is-selected.is-pointed {
    background: #f1f1f1;
}

.multiselect-no-options,
.multiselect-no-results {
    display: flex;
    padding: 10px 12px;
    color: #777;
}

.multiselect-spinner {
    position: absolute;
    right: 12px;
    top: 0;
    width: 16px;
    height: 16px;
    background: #fff;
    display: block;
    transform: translateY(50%);
}

.multiselect-spinner:before,
.multiselect-spinner:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41b883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
}

.is-disabled .multiselect-spinner {
    background: #f9f9f9;
}

.is-disabled .multiselect-spinner:before,
.is-disabled .multiselect-spinner:after {
    border-color: #999999 transparent transparent;
}

.multiselect-spinner:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}

.multiselect-spinner:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}

.multiselect-enter-active {
    transition: all 0.15s ease;
}

.multiselect-leave-active {
    transition: all 0s;
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0;
}

.multiselect-loading-enter-active,
.multiselect-loading-leave-active {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.multiselect-loading-enter,
.multiselect-loading-leave-active {
    opacity: 0;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(2turn);
    }
}

.left-button-category-active {
    //background-color: white;
    position: relative;
}

.left-button-category-active:before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    margin-right: -1.35rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -18px;
    transform: rotate(
            90deg
    ) scale(1.04);
}

.left-button-category-active:after {
    margin-top: 60px;
    transform: scale(1.04);
    content: "";
    width: 35px;
    height: 30px;
    background-size: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    margin-right: -1.4rem;
    position: absolute;
    top: 0;
    right: 0;
}

.left-button-category-active .items-center:before {
    content: "";
    z-index: -1;
    --tw-bg-opacity: 1;
    background-color: white;
    height: 68%;
    margin-right: -1.4rem;
    position: absolute;
    top: 16%;
    right: 0;
    width: 3.6rem;
}

.model_name {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.social-auth {

    .btn-social {

        position: relative;
        overflow: hidden;
        justify-content: flex-start;
        margin-bottom: 14px;

        .icon {
            position: absolute;
            width: 2.75rem;
            height: 100%;
            background: #fff;
            left: 0;
            top: 0;
            display: flex;
            align-content: center;
            justify-content: center;
            border-right: 1px #e6e6e6 solid;

            img {
                width: 60%;
            }
        }

        .text {
            text-align: center;
            width: calc(100% - 2.75rem);
            margin-left: 2.75rem;
        }
    }
}


