<style type="text/css">
    h1 {
        font-size: 24px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 16px;
        text-transform: uppercase;
    }

    .dbr-mail-message {
        background-color: #eff2f7;
        margin: 0 !important;
        padding: 20px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #23496d;
        word-break: break-word;
        text-align: center;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #5f4eaa;
        background: white;
        overflow: hidden;
    }

    .container .banner {
        width: 100%;
    }

    .container .banner img {
        width: 100%;
    }

    .links {
        padding-top: 40px;
        padding-bottom: 63px;
        border-bottom: 1px solid #5f4eaa;
    }

    .links .link {
        width: 33.33%;
        float: left;
        text-align: center;
        font-size: 18px;
        line-height: 175%;
    }

    .links .link a {
        color: #5e50ac;
        font-weight: bold;
        text-decoration: none;
    }

    .section {
        padding: 10px;
    }

    a.btn {
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #ffffff;
        word-break: break-word;
        border-radius: 10px;
        background-color: #5e50ac;
        padding: 12px;
        text-decoration: none;
        font-weight: bold;
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }

    .footer .footer-links {
        padding-bottom: 20px;
    }

    .footer .footer-links img {
        outline: none;
        text-decoration: none;
        border: none;
        width: auto !important;
        height: 25px !important;
    }

    .footer .info {
        background: #eff2f7;
        font-size: 12px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .splitter {
        width: 350px;
        margin: 0 auto 20px;
        padding-top: 20px;
        height: 1px;
        border-bottom: 1px #5f4eaa solid;
    }

</style>

<div class="dbr-mail-message">
    <div class="container">
        <div class="header">
            <div class="banner">
                <img data-imagetype="External"
                     src="https://hs-8195567.f.hubspotemail.net/hub/8195567/hubfs/szablon.png?width=1196&amp;upscale=true&amp;name=szablon.png"
                     alt="szablon" width="598" align="middle"
                     style="outline:none; text-decoration:none; border:none; max-width:100%; font-size:16px"
                >
            </div>
            <div class="links">
                <div class="link">
                    <a href="https://dbr77.com" target="_blank">DBR77</a>
                </div>
                <div class="link">
                    <a href="https://platform.dbr77.com" target="_blank">PLATFORMA</a>
                </div>
                <div class="link">
                    <a href="https://www.youtube.com/watch?v=tJWqyTp-KFk&ab_channel=DBR77" target="_blank">O NAS</a>
                </div>
            </div>
        </div>
        <div class="section">

            <h1>ROBOHAKATON</h1>
            <h2>Witamy Ciebie serdecznie!</h2>
            <p>
                <br><br>
                Ogromnie się cieszymy, że będziemy mieli przyjemność gościć Ciebie w naszym pierwszym wydarzeniu RoboHakaton organizowanym przez Platformę Robotów DBR77.
            </p>

            <p>
                <br>
                Misją DBR77 jest sprawienie, aby robotyzacja i automatyzacja była dostępna dla wszystkich.
                Z tego powodu rozpoczynamy między innymi działania nakierowane na edukację w tym obszarze.
            </p>

            <p>
                <br>
                <u>Poniżej prezentujemy plan RoboHakaton:</u>
            </p>

            <p>
                <br>
                <b>18.10.2021</b><br><br>
                Start forum konkursu – zaprosimy Cię do zapoznania się z zespołem konkursowym oraz Platformą Robotów DBR77.
            </p>

            <p>
                <br>
                <b>19.10.2021</b><br><br>

                9:00 Wprowadzenie do Studia 3D – prezentacja autora środowiska projektowego Studia 3D <br>

                9:15 Udostępnienie zadań konkursowych<br>

                11:00 Transmisja prezentacji Fanuc live<br>

                11:20 Transmisja prezentacji DBR77 live<br>

                14:00 Sesja Q&A z ekspertami live<br>
            </p>

            <p>
                <br>
                <b>20.10.2021</b><br><br>

                9:00 sesja Q&Az ekspertami live<br>

                18:00 zamknięcie konkursu<br>
            </p>

            <p>
                <br>
                Wszystkie sesje live transmitowane będą na platformie:
            </p>

            <p>
                <br>
                Dostęp:<br>

                <b>Link:</b> <a href="https://us02web.zoom.us/j/89366641000?pwd=QVRpUGFEV0FLOTlsc0pRMzNoNjA5dz09">
                https://us02web.zoom.us/j/89366641000?pwd=QVRpUGFEV0FLOTlsc0pRMzNoNjA5dz09
            </a><br>

                <b>Hasło:</b> 77
            </p>

            <p>
                Wszystkie informacje o konkursie, pytania oraz komentarze możecie znaleźć na w społeczności DBR77 pod linkiem
            </p>

            <a href="https://community.dbr77.com" class="btn">
                Przejdź do społeczności
            </a>

            <p>
                Zarówno konkurs Robo Challenge jak i RoboHakaton organizowane są po raz pierwszy.
                Będzie to pierwsze tego rodzaju wydarzenie, gdzie spotkają się zespoły tak wielu firmy, aby podjąć wspólne działania.
            </p>
            <p>
                Mając to na uwadze, prosimy o odrobinę wyrozumiałości oraz wsparcie.
                Zgłaszajcie proszę niezwłocznie wszystkie napotkanie problemy na naszym forum konkursowym, dostępnym pod adresem pod linkiem
                <a href="https://community.dbr77.com">https://community.dbr77.com</a>
            </p>

            <p>
                <br><br>

                Tymczasem życzymy powodzenia i udanej zabawy!<br>
                Zespół DBR77
            </p>

        </div>
        <div class="splitter"></div>
        <div class="footer">
            <div class="section footer-links">
                <img
                    src="https://hs-8195567.f.hubspotemail.net/hs/hsstatic/TemplateAssets/static-1.24/img/hs_default_template_images/modules/Follow+Me+-+Email/facebook_circle_color.png"
                    alt="Facebook">
                <img data-imagetype="External"
                     src="https://hs-8195567.f.hubspotemail.net/hs/hsstatic/TemplateAssets/static-1.24/img/hs_default_template_images/modules/Follow+Me+-+Email/linkedin_circle_color.png"
                     alt="LinkedIn">
                <img data-imagetype="External"
                     src="https://hs-8195567.f.hubspotemail.net/hs/hsstatic/TemplateAssets/static-1.24/img/hs_default_template_images/modules/Follow+Me+-+Email/website_circle_color.png"
                     alt="Witryna internetowa">
                <img data-imagetype="External"
                     src="https://hs-8195567.f.hubspotemail.net/hs/hsstatic/TemplateAssets/static-1.24/img/hs_default_template_images/modules/Follow+Me+-+Email/youtube_circle_color.png"
                     alt="YouTube">

            </div>
            <div class="section info">
                <div class="company-info">
                    <p>Jeżeli sądzisz, że otrzymałeś(aś) tą wiadomość przez pomyłkę, prosimy o jej zignorowanie.</p>
                    <p>DBR77 Robotics Sp. z o.o., Żółkiewskiego, 31, 87-100 Toruń, NIP 8792725331</p>
                </div>
            </div>
        </div>
    </div>
</div>
